{% extends "madscientist/splash.html" %}

{% block content %}
 
<div id="static" class="text-content">


<h1>About MadScientist</h1>
<p>
  It's ma baby! <a href="http://www.youtube.com/watch?v=YyGF9ocTZJ8">Don't say nothing bad about ma baby!</a>
</p>
<p>
  I wrote MadScientist to solve my own problem: I get a lot of different ideas every day for projects in
  many different areas, many more than I will probably ever have the time or inclination to do.
  I'm a person who sees a cool hand-lettered sign on the street and 
  goes, "I should learn calligraphy!"
</p>
<p> 
  When I see something of someone else's that directly inspires me, <a href="http://www.pinterest.com/">Pinterest</a> 
  is the perfect organization tool, from online tutorials to styles I admire. But 
  what about the projects that aren't on the internet yet? What about the ideas that aren't
  meant to be of any use or interest to anyone but myself?
</p>
<p>
  Where do I put weird ideas for bands I'll never start, a party I want to have in 10 years, 
  costumes that are way out of my budget, or hilarious <a href="http://www.engrish.com/">Engrish</a>
  phrases I never want to forget? From those questions MadScientist was born.</a> 
</p>
<p>
  I currently have six different groups on my account: Create Me (Stuff to Make Someday...Maybe), Music Wishlist,
  Art Prompts and Techniques, Cool Phrases, Coding Projects, and Quotes. You can find out more about me
   <a href="http://www.lifeasymptotic.com/">here</a>, if you like.
</p>


</div>
{% endblock %}
