{% extends "madscientist/base.html" %}

<form id="add_entry" action="/madscientist/groups/{{ current_group.id }}/add/" method="post">{% csrf_token %}

{% block content %}

<h1>Okay, genius, what is it?</h1>

 <a href="/madscientist/groups/{{ current_group.id }}/">
 <div class="left_arrow"></div>
 </a>
 
 <div class="form_container" id="add_entry">
  <h2>Add New Entry ({{ current_group.short_title }})</h2>
  
  <form id="add_entry" action="/madscientist/groups/{{ current_group.id }}/add/" method="post">{% csrf_token %}
    <fieldset class="post">
      {{ entry_form.as_p }}
    </fieldset>  
    

    {% regroup tags by facet__name as tag_list %} 
  <fieldset>
    <legend>Tags</legend>
   
     {% if tag_list.0.grouper or not tag_list %}
      <fieldset class="facet">
        <legend>Uncategorized</legend>
        <ul>
          <li>
            <input type="text" class="new_tag" name="tag-name-None" id="id_tag-name" placeholder="New tag">
            <button type="submit" name="submit_new_tag" value="tag-name-None">add</button>
          </li>
        </ul>
      </fieldset>
     {% endif %}
    
  {% for facet in tag_list %}
    <fieldset class="facet">
      <legend>{{ facet.grouper|default:"Uncategorized" }}</legend>
      <ul>
      {% for tag in facet.list %}
        <li>
          <input type="checkbox" id="id_{{ tag.id }}" name="tags[]" value="{{ tag.id }}"/>
          <label for="id_{{ tag.id }}">{{ tag.name }}</label>
        </li>
      {% endfor %}
        <li>
          <input type="text" class="new_tag" name="tag-name-{{ facet.list.0.facet__id|default:'None' }}" id="id_tag-name" placeholder="New tag"/>
          <button type="submit" name="submit_new_tag" value="tag-name-{{ facet.list.0.facet__id|default:'None' }}">add</button>
        </li>
      </ul> 
    </fieldset>
  {% endfor %}
  
  {% for facet in empty_facets %}
    <fieldset class="facet">
      <legend>{{ facet.name }}</legend>
      <ul>
        <li>
          <input type="text" class="new_tag" id="id_tag-name" name="tag-name-{{ facet.id }}" placeholder="New tag">
          <button type="submit" name="submit_new_tag" value="tag-name-{{ facet.id }}" caption="add">add</button>
       </li>
      </ul>
    </fieldset>
  {% endfor %}  
      
  <p>
     <input type="text" name="facet-name" id="new_facet" placeholder="New category name">
     <input type="submit" value="add" name="submit_new_facet">
  </p>
     
  </fieldset>

  <input type="submit" value="Submit" name="submit_new_entry"/>
  
  </form>
 </div>  

{% endblock %}
