<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
<title>{% block title %}
  {% if user.is_authenticated %}
  {{ request.user }}
  {% endif %} | Mad Scientist
        {% endblock %}</title>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}madscientist/css/all.css">
<link rel="shorcut icon" type="image/ico" href="{{ STATIC_URL}}madscientist/images/madscientist.ico"/>
</head>
<body>
  
<div id="wrapper">
{% load query_string_utilities %}
{% load random_quote %}
{% load typogrify %}
<div id="header" class="clearfix">
  
 <img id="title" alt="Mad Scientist" src="{{ STATIC_URL }}madscientist/images/logo_striped2.png"/> 
 <img id="tagline" alt="So. Many. Ideas." src="{{ STATIC_URL}}madscientist/images/so_many_ideas2.png"/>
 
 <ul id="menu_bar">
  
     {% if not user.id %} 
     <li>Hi, guest!</li>
     <li><a href="/madscientist/login/?next={{ request.path }}">log in</a></li>
     {% else %}
      <li>Sup, {{ request.user }}?</li>
      <li><a href="{% url madscientist.views.logout_user %}">logout</a></li>
     {% endif %}
     <li>| <a href="/madscientist/about/">about</a></li>
 </ul>

  <ul id="tab_bar">
    {% for group in group_list %}
      {% if group.id == current_group.id %}
       <li class="active">{{ group.short_title}}</li>
      {% else %}
       <li><a href="{% url madscientist.views.entry_list username group.id %}">{{ group.short_title }}</a></li>
      {% endif %}
      
    {% endfor %}
    <li><a href="{% url madscientist.views.edit_group %}">+</a></li>
  </ul>
  
 <div id="header-image"></div>
  
   
</div>
<div id="container" class="clearfix">
  
  <div id="content">
    
    {% block content %}  

      <div id="sidebar">      
      {% block sidebar %}
        <h1>Tags</h1>  
          {% if current_group %}
            {% if options.show_empty_tags %}
              <a href="{% url madscientist.views.entry_list username current_group.id %}?{{ active_options|remove_and_reencode:'show_empty_tags' }}&show_empty_tags=0">
                hide empty tags
              </a>
             {% else %}
              <a href="{% url madscientist.views.entry_list username current_group.id %}?{{ active_options|remove_and_reencode:'show_empty_tags' }}&show_empty_tags=1">
                show empty tags
              </a>        
             {% endif %}
             
             |  <a href="{% url madscientist.views.edit_tags current_group.id %}">manage tags</a>
  
          {% regroup tags by facet__name as tag_list %} 
          
          <!-- If all tags belong to a facet and we are currently showing empty tags, show an
               "Uncategorized" facet to add uncategorized tags to. -->
          {% if tag_list.0.grouper and active_options.show_empty_tags == "1" %}
            <h4>Uncategorized</h4>
            <ul class="facet clearfix">
              <li class="tag new_tag hidden">+</li>
            </ul>
          {% endif %}
          
          {% for facet in tag_list %}
            
            <h4>{{ facet.grouper|default:"Uncategorized" }}</h4>
            <ul class="facet clearfix">
                         
              {% for tag in facet.list %}
              
                {% if tag.active %}
                  <li class="tag active">
                            
                    <a href="{% url madscientist.views.entry_list username current_group.id %}?{{ active_options|remove_and_reencode:'tag' }}&{{ options.active_tags|remove_from_list:tag.id|encode_list:'tag' }}">
                    
                      {{ tag.name }} ({{ tag.num_ideas }})</a>
                  </li>              
                {% else %}
                  {% if not tag.num_ideas %}
                    <li class="tag empty">
                      {{ tag.name }} ({{ tag.num_ideas }})
                    </li>
                   {% else %}
                    <li class="tag">
                      
                      <a href="{% url madscientist.views.entry_list username current_group.id %}?{{ active_options|remove_and_reencode:'tag' }}&tag={{ tag.id }}&{{ options.active_tags|encode_list:'tag' }}">
                        {{ tag.name }} ({{ tag.num_ideas }})</a>
                    </li>
                    {% endif %}
                {% endif %}
              {% endfor %}
              <li class="tag new_tag hidden">+</li>
            </ul>
            
           {% empty %}
            
            <h4>Uncategorized</h4>
            <ul class="facet clearfix">
              <li class="tag new_tag hidden">+</li>
            </ul>
            
           {% endfor %}
           
          <!-- Show empty facets (if show_empty_tags is false this list will be empty ) -->
          {% if active_options.show_empty_tags == "1" %}
            
            {% for facet in empty_facets %}
              <h4>{{ facet.name }}</h4>
              <ul class="facet clearfix">
                <li class="tag new_tag hidden">+</li>
              </ul>
             {% endfor %}
          {% endif %}
           
           <div id="new_facet" class="hidden">Create new category</div>
        {% else %}
          <p>You don't have a group to add tags and categories to yet.</p>
        {% endif %}
      {% endblock sidebar %}
      </div>
    
    <div id="entry_container">
      
      {% if current_group %}
        <h1>{{ current_group.title }}</h1>
      {% else %}
        <h1>You don't have any groups yet!</h1>
        <h2>Use the '+' link underneath the logo to create one.</h2>
      {% endif %}
      
      {% if current_group %}
      <h4>{{ entry_list|length }} entries displayed as:
         
          {% if display == "list" %}
            list 
          {% else %}
          <a href="/madscientist/{{ username }}/{{ current_group.id }}/?{{ active_options|remove_and_reencode:'display' }}&display=list">list</a>
          {% endif %}
          |
          {% if display == "images" %}
             images only
          {% else %}
            <a href="/madscientist/{{ username }}/{{ current_group.id }}/?{{ active_options|remove_and_reencode:'display' }}&display=images">images only</a>
          {% endif %}
          |
          {% if display == "calendar" %}
            date grid
          {% else %}
            <a href="/madscientist/{{ username }}/{{ current_group.id }}/?{{ active_options|remove_and_reencode:'display' }}&display=calendar">date grid</a>
          {% endif %}
                    
 
          <a href="{% url madscientist.views.edit_group current_group.id %}">(edit this group)</a>
      </h4>
      <ul id="entries">
        <li id="add_new_entry">Think of something brilliant? 
          <a href="{% url madscientist.views.edit_entry current_group.id %}">Write it down!</a>
        </li>
        
        {% for entry in entry_list %}
          {% if display == "list" %}
            <li>  
                <a name="entry{{ entry.id }}"></a>
                {% if entry.id|slugify == options.expand_id %}
                
                 <span class="title">{{ entry.title }}
                    <a href="{% url madscientist.views.edit_entry current_group.id entry.id %}">(edit)</a>               
                  </span> 

                    <span class="body">
                      {{ entry.body|linebreaks|safe }}               
                       {% if entry.image %}<img src="{{ entry.image.url }}"/>{% endif %}
                    </span>
                  
                  <p><span class="meta">Tags</span>: {{ entry.tags.all|join:", "|default:"none" }}</p>
                  <p><span class="meta">Created on</span>: {{ entry.date_created }}.</p>
                  <a href="?{{ active_options|remove_and_reencode:'expand' }}#entry{{ entry.id }}">(less)</a>
                  
                {% else %}
                
                  <span class="title">{{ entry.title }}
                  </span> 
                
                  {% if entry.body %}
                    &ndash; {{ entry.body|safe|truncatewords_html:10 }}
                  {% endif %} 
                  
                  <a href="?{{ active_options|remove_and_reencode:'expand' }}&expand={{ entry.id }}#entry{{ entry.id }}">(more)</a> 
                   
               {% endif %}
             {% elif display == "images" %}
                {% if entry.image %}
                <li class="image_item">
                  <a href="{% url madscientist.views.edit_entry current_group.id entry.id %}">
                      <img src="{{ entry.image.url }}"/>            
                  </a>
                </li>  
                {% endif %}
             {% else %}     
                {% if forloop.counter0 > 0 and forloop.counter0|divisibleby:"7" %}
                  <div class="clearfix"></div>
                {% endif %}     
                <li class="calendar_item">        
                  <span class="date">{{ entry.date_created }}</span>
                  <a href="{% url madscientist.views.edit_entry current_group.id entry.id %}">
                    {{ entry.title }}         
                  </a>
                </li>
             {% endif %}
           </li>
        {% endfor %}
      </ul>
      {% endif %}
    </div>

  {% endblock content %}
  </div>
</div>

<div id="push">
  
</div>
</div>

<div id="footer">
  

    {% autoescape off %}
    {% filter widont %}
    {% filter smartypants %}
    <h2>{{ 'madscientist/files/quotes.txt'|random_quote|join:"</h2><h3>" }}</h3>
    {% endfilter %}
    {% endfilter %}
    {% endautoescape %} 

</div>

</body>
</html>