{% extends "madscientist/splash.html" %}

{% block content %}
<div class="form-container">
<h1>Sign in</h1>

<form method="post" class="user">
  {% csrf_token %}
  <fieldset>
{{ login_form.as_p }} 
  </fieldset>
<input type="submit" name="login" value="Log in">
</form>
</div>
<div class="form-container">
  <h1>Or sign up</h1>
<form autocomplete=off method="post" class="user">
  {% csrf_token %}
  <fieldset>  
  {{ signup_form.as_p }}
  </fieldset>
  <input type="submit" name="signup" value="Sign up">
</form>
</div>

{% endblock %}

