<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
<title>{% block title %}The mad scientist in me says AHAHAHAHA{% endblock %}</title>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}madscientist/css/all.css">
<link rel="shorcut icon" type="image/ico" href="{{ STATIC_URL}}madscientist/images/madscientist.ico"/>
</head>
<body>

  <div id="splash" class="wrapper clearfix">
    
    <img src="{{ STATIC_URL }}madscientist/images/logo_striped.png" alt="Mad Scientist"/>
    <h2>Organize your ideas and take over the world!</h2> 
     {% block content %}{% endblock %}
     
    {% block menu %}
    <div class="menu clearfix">
     <ul>
       <li>
         {% if "/madscientist/login/" in request.path %}
          Sign up
         {% else %}
          <a href="/madscientist/login/">Sign up</a>
         {% endif %}
       </li>
       <li>
         {% if "/madscientist/whats-it-do/" in request.path %}
          What's it do?
         {% else %}
          <a href="/madscientist/whats-it-do/">What's it do?</a>
         {% endif %}
       </li>
       <li>
         {% if "/madscientist/take-the-tour" in request.path %}
          Take a Tour
         {% else %}
         <a href="/madscientist/take-the-tour/">Take a Tour</a>
         {% endif %}
       </li>
       <li>
         {% if "/madscientist/about/" in request.path %}
         About
         {% else %} 
         <a href="/madscientist/about/">About</a>
         {% endif %}
       </li>
     </ul>
    </div>
    
   </div>
  {% endblock %}
</body>
</html>