{% extends "madscientist/splash.html" %}

{% block content %}
 
<div id="static" class="text-content clearfix">
  
<h1>So like, what does it do?</h1>
<p>
  MadScientist is an online idea organization application created with two central goals in mind:
  get your idea down quickly and make sure you can find it again.
</p>
<p>
  See, in an ideal world, managing ideas would follow the cycle illustrated
  in the diagram below: think it, save it, forget it, rediscover it.
</p>
<p><img width="230" src="{{ STATIC_URL }}madscientist/images/thinkit_circle.png"
    alt="think it, save it, forget it, rediscover it"
    title="think it, save it, forget it, rediscover it"
    />
</p>
<p> 
As soon as you record an idea, you can get it off your mind and go back to what you
were doing (which was probably totally unrelated). The tricky part is the last step: rediscovery.
Even if you write down every idea as it strikes, how can you be sure it won't be lost to the ether, buried
in with all the other random thoughts you scribble down?
</p>
<p>
  MadScientist offers a solution to this problem by making it easy to organize ideas on your 
  own terms, in ways that make sense to you and to the nature of the things you are collecting.
</p>

</div>
{% endblock %}
